.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262626;
  padding: 0.6rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
.cart-item span {
  font-size: 0.9rem;
}
.cart-item button {
  background: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.3s;
}
.cart-item button:hover {
  color: #ff4c4c;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
